<aside class="sidebar">
  <div class="sidebar-widget">
    <h4>Search posts</h4>
    <form class="search-box" action="/" method="get">
      <label for="sidebar-search" class="sr-only" style="position:absolute; left:-9999px;">Search posts</label>
      <input id="sidebar-search" type="text" name="q" placeholder="Search sunscreen, dupes, routines&hellip;" autocomplete="off">
      <button type="submit" class="btn">Search</button>
    </form>
  </div>

  <div class="sidebar-widget">
    <h4>Popular posts</h4>
    <div id="popular-posts"></div>
  </div>

  <div class="sidebar-widget">
    <h4>Tags</h4>
    <div id="tag-cloud" class="tag-cloud"></div>
  </div>
</aside>
